<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fwl">
	<resultMap type="com.lol.hgl.dto.fwlDto" id="fwlDto">
		<result column="FWLCHK" property="flwChk"/>
		<result column = "FWLITEM" property="fwlItem"/>	
	</resultMap>
	
	<select id="fwlList" parameterType="int" resultMap="fwlDto">
		SELECT * FROM FWL WHERE MEMBERNO=#{memberNo}
	</select>

</mapper>