<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<resultMap type="com.lol.hgl.dto.memberDto" id="memberDto"> 
		<result column="MEMBERNO" property="memberNo"/>
		<result column="MEMBERID" property="memberId"/>
		<result column="MEMBERPW" property="memberPw"/>
		<result column="MEMBERNICKNAME" property="memberNickname"/>
		<result column="MEMBEREMAIL" property="memberEmail"/>
		<result column="MEMBERPHONE" property="memberPhone"/>
		<result column="MEMBERDO" property="memberDo"/>
		<result column="MEMBERCITY" property="memberCity"/>	
		<result column="MEMBERADDR" property="memberAddr"/>	
		<result column="MEMBERROLE" property="memberRole"/>	
		<result column="MEMBERPROHIBIT" property="memberProhibit"/>	
		<result column="MEMBERJOIN" property="memberJoin"/>	
		<result column="MEMBERSMS" property="memberSMS"/>	
	</resultMap>
	
	<select id="idChk" parameterType="String" resultType="String">
		 SELECT MEMBERID FROM MEMBER WHERE MEMBERID=#{id}
	</select>
	
	<select id="nickNameChk" parameterType="String" resultType="String">
		 SELECT MEMBERNICKNAME FROM MEMBER WHERE MEMBERNICKNAME=#{nickName}
	</select>
	
	
	<select id="emailChk" parameterType="String" resultType="String">
		 SELECT MEMBEREMAIL FROM MEMBER WHERE MEMBEREMAIL=#{email}
	</select>
	
	<insert id="singUp" parameterType="memberDto" >
		INSERT INTO MEMBER VALUES(MEMBERNO_SEQ.NEXTVAL, #{memberId}, #{memberPw}, #{memberNickname}, #{memberEmail}, #{memberPhone}, #{memberDo}, #{memberCity}, 
		#{memberAddr}, 'USER', 0, 'Y', #{memberSMS})
	</insert>
	
		
	<select id="IDSearch" parameterType="String" resultType="String">
		 SELECT MEMBERID FROM MEMBER WHERE MEMBEREMAIL=#{email} AND MEMBERJOIN='Y'
	</select>
	
	
	<select id="PWSearch" parameterType="Map" resultType="String">
		 SELECT MEMBERPW FROM MEMBER WHERE MEMBEREMAIL=#{email} AND MEMBERID=#{id} AND MEMBERJOIN='Y'
	</select>


</mapper>
