@charset "UTF-8";
#container{
   margin: auto;
   width: 1280px;
   height: 100%;
   /* background-color: orange; */
}

#a{
width: 100%;
/* background-color: red; */
}

#c{
width: 100%;
/* background-color: green; */
}

#b{
color: white;
border: 1px dashed red;
height: 550px;
width: 100%; 
display: -webkit-flex;
     display:         flex;
     -webkit-align-items: center;
             align-items: center;
     -webkit-justify-content: center;
             justify-content: center;
}
 
 #bodyMain{
    position: relative;
    width: 80%;
    height: 95%;
    display: -webkit-flex;
     display:         flex;
     -webkit-align-items: center;
             align-items: center;
     -webkit-justify-content: center;
             justify-content: center;
     flex-direction: column;
 }
 
 .th{
 	text-align: center;
    font-weight:bold;
    background-color: tomato;
    text-shadow: 1px 1px 0 black;
 }
 
 td{
    text-align: center;
      border: 1px solid white;
      
      text-decoration: none;
      padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;

 }
 
 tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
 
 table{
    width:98%;
    box-shadow: 1px 1px 0 #d6251f, 2px 2px 2px #e02a24;
  letter-spacing: 1px;
 }
 
 #paging{
    text-align: center;
    width: 98%;
    background-color: tomato;
    border: 1px solid white;
    box-shadow: 1px 1px 0 #d6251f, 2px 2px 2px #e02a24;
  letter-spacing: 1px;
 }
 
 #boardName{
 	text-shadow: 1px 1px 0 black;
    display: -webkit-flex;
     display:         flex;
     -webkit-align-items: center;
             align-items: center;
     -webkit-justify-content: center;
             justify-content: center;
    text-align: center;
    height: 30px;
    width: 98%;
    background-color: tomato;
    border: 1px solid white;
    box-shadow: 1px 1px 0 #d6251f, 2px 2px 2px #e02a24;
  letter-spacing: 1px;
 }
 
 #paging a:link{
 	color: white;
 	text-decoration: none;
 	text-shadow: 1px 1px 0 orange;
 }
 
#paging a:hover {
	color: white;
	text-decoration: none;
 	text-shadow: 1px 1px 0 orange;
 }
 
#paging a:visited {
	color: white;
	text-decoration: none;
 	text-shadow: 1px 1px 0 orange;
}

#paging strong:link{
	color: white;
	text-decoration: none;
}
#paging strong:hover{
	color: white;
	text-decoration: none;
}
#paging strong:visited{
	color: white;
	text-decoration: none;
}