@charset "UTF-8";
li{
	list-style: none;
}
header{
	text-align: center;
	margin:auto;
	margin-left: 110px;
	width: 200px;
}
label{
	font-size: 12pt;
}
#famDetail{
	margin:auto;	
	width: 1280px;	
	height: 100%;
}
.radi{
	width: 16px;
	height: 16px;
	margin-bottom: 15px;
}
#famInfoFom{
	text-align: center;
	margin: auto;
	margin-left: 10%;
	width: 33%;
}
.disease{
	margin-left: 15px;
	margin-top: 15px;
	width: 130px;
	height: 20px;
}
.famInfo{
	width: 250px;
	height: 35px;
	border: none;
	background-color : #f0f0f0;
	margin-left: 20px;
	margin-bottom: 30px;
}
#detail{
	position:relative;
	margin:auto;
	border: 2px soild red;
	width: 1280px;
	height: 100%;
}
#graph{
	width: 33%;
	margin:auto;
	margin-left:-350px;
	height: 100%;
}