@charset "UTF-8";
li{
	list-style: none;
}
header{
	text-align:center;
	margin: auto;
	width: 500px;
}
form{
	margin:auto;	
	width: 500px;	
}
label{
	font-size: 12pt;
}
.radi{
	width: 20px;
	height: 20px;
}
.dis{
	width: 20px;
	height: 20px;
}

.famInfo{
	width: 250px;
	height: 35px;
	margin-left: 20px;
	margin-bottom: 30px;
}
.sibal{
	margin-top: 50px;
}

#disList{
display:none;	
}