@charset "UTF-8";

#FWLB_Paging{
	 border: 1px dotted blue; 
	 text-align: center;
	 padding: 10px;
}

#FWLBListCenter{
	display: -webkit-flex;
	display:         flex;
	  -webkit-align-items: center;
	          align-items: center;
	  -webkit-justify-content: center;
	          justify-content: center;
    flex-direction: column;
    height: 500px;
}

.searchTerm {
  text-align: center;
  border: 3px solid #00B4CC;
  padding: 5px;
  width: 220px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}
.searchTerm:focus{
  color: #00B4CC;
}
.searchButton {
  vertical-align:top;
  -webkit-appearance:none;
  border: 0;
  background-color: white;
}
#searchButtonImg{
	margin-left:-5px; 
	height: 30px; 
	vertical-align: top;
	cursor: pointer;
}