@charset "UTF-8";

#FWLB_Paging{
	 border: 1px dotted blue; 
	 text-align: center;
	 padding: 10px;
}

#FWLBListCenter{
	display: -webkit-flex;
	display:         flex;
	  -webkit-align-items: center;
	          align-items: center;
	  -webkit-justify-content: center;
	          justify-content: center;
    flex-direction: column;
    height: 500px;
}