@charset "UTF-8";
input[type="checkbox"]{
	width:20px; 
	height:20px;"
}

#container{
	text-align: center;
	min-width: 800px; 
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	border: 1px dotted red; 
}
#topbutton{
	padding:20px;
}

.FWLDelete-img{
	width: 25px;
	height: 25px;
	vertical-align: bottom;
	margin-top: 1px;
	cursor: pointer;
}

.FWLDelete{
	padding:0;
	border:0;
	background-color: white;
	color:red;
}