@charset "UTF-8";
#container{
   margin: auto;
   width: 1280px;
   height: 100%;
}

#a{
width: 100%;
/* background-color: red; */
}

#c{
width: 100%;
/* background-color: green; */
}

#b{
width: 100%; 
display: -webkit-flex;
     display:         flex;
     -webkit-align-items: center;
             align-items: center;
     -webkit-justify-content: center;
             justify-content: center;
flex-direction: column;
}
 
 #bodyMain{
    position: relative;
    width: 70%;
    height: 95%;
    display: -webkit-flex;
     display:         flex;
     -webkit-align-items: center;
             align-items: center;
     -webkit-justify-content: center;
             justify-content: center;
     flex-direction: column;
 }
 
 #form{
 	 display: -webkit-flex;
     display:         flex;
     -webkit-align-items: center;
             align-items: center;
     -webkit-justify-content: center;
             justify-content: center;
     flex-direction: column;
 	margin: auto;
 	width: 99.5%;
 }
 
 th{
    font-weight:bold;
    font-size: 13pt;
 }
 
 td{
 	background-color: tomato;
 	height: 25px;
    text-align: center;
      border: 1px solid white;
      text-decoration: none;
 }
 
 .Mtd{
 	color: black;
 	height: 99%;
 	width: 99%;
 }
 
 textarea{
 	color: black;
 	width: 99%;
 }
 
 table{
  box-shadow: 2px 2px 0 #d6251f, 2px 2px 2px #e02a24;
  letter-spacing: 1px;
  transition: all 150ms linear;
    background-color: tomato;
    width:98%;
 }
 
 #paging{
    text-align: center;
    width: 98%;
    background-color: tomato;
    border: 1px solid white;
 }
 
 #boardName{
    display: -webkit-flex;
     display:         flex;
     -webkit-align-items: center;
             align-items: center;
     -webkit-justify-content: center;
             justify-content: center;
    text-align: center;
    height: 150%;
    width: 98%;
    background-color: tomato;
    border: 1px solid white;
 }
 
 a:link{
 	color: white;
 	text-decoration: none;
 }
 
 a:hover {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}
.btn00{
	position: relative;
	padding: 5px;
}

#btn001{
	position: absolute;
	height: 30px;
	left: 371px;
	top: 11px;	
}
#btn002{
	position: absolute;
	height: 30px;
	left: 308px;
	top: 11px;
}
#btn003{
	position: absolute;
	height: 30px;
	left: 245px;
	top: 11px;
}


#Cbtn1{
	padding-top: 15px;
	width: 90%;
	height: 80%
}

#Cbtn2{
	text-align: center;
	align-content: center;
	margin-top: 5px;
	height: 30px;
}

#cmtd{
	border: 1px solid tomato;
	background-color : tomato;
	color: white;
	text-align: center;
	height: 100%;
	width: 100%;
	text-shadow: 1px 1px 0px black;
}

.dv0{
	width: 97.5%;
	border: 1px solid white;
	background-color: tomato;
	display: -webkit-flex;
     display:         flex;
     -webkit-align-items: center;
             align-items: center;
     -webkit-justify-content: center;
             justify-content: center;
     flex-direction: column;
      box-shadow: 2px 2px 0 #d6251f, 2px 2px 2px #e02a24;
	  letter-spacing: 1px;
	  transition: all 150ms linear;
}

.mdv{
	width: 100%;
	display: -webkit-flex;
     display:         flex;
     -webkit-align-items: center;
             align-items: center;
     -webkit-justify-content: center;
             justify-content: center;
}

.dv1{
	height: 30px;
	margin-left: 88%;
}

.cont{
	padding: 2px;
	margin: 2px;
	width: 100%;
	border: 1px solid white;
	background-color: tomato;
}

#cml{
	text-shadow: 1px 1px 0px black;
	 box-shadow: 2px 2px 0 #d6251f, 2px 2px 2px #e02a24;
  letter-spacing: 1px;
  transition: all 150ms linear;
	color: white;
	text-align: center;
	width: 97.5%;
	border: 1px solid white;
	background-color: tomato;
	padding: 5px;
}

#paging{
	 box-shadow: 2px 2px 0 #d6251f, 2px 2px 2px #e02a24;
  letter-spacing: 1px;
  transition: all 150ms linear;
	background-color: tomato;
}
.th{
	text-shadow: 1px 1px 0px black;
	color: white;
	text-align: center;
	padding: 2px;
	margin: 2px;
	border: 1px solid white;
	background-color: tomato;
}
.th2{
	text-shadow: 1px 1px 0px black;
	color: white;
	text-align: center;
	padding: 2px;
	margin: 2px;
	width: 15%;
	border: 1px solid white;
	background-color: tomato;
}
.td{
	padding: 2px;
	margin: 2px;
	width: 45%;
	border: 1px solid gray;
	background-color: white;
	color: gray;
}

.btn-3 {
	padding-bottom: 20px;
	color: #fff;
  cursor: pointer;
	margin: 4px;
	height: 25px;
  background: tomato;
  border: 1px solid #da251f;
  box-shadow: 2px 2px 0 #d6251f, 2px 2px 2px #e02a24;
  letter-spacing: 1px;
  transition: all 150ms linear;
}

.btn-3:hover {
  background: tomato;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
  text-decoration: none;
  color: #ec817d;
  text-shadow: 1px 1px 0 #c2211c;
  transition: all 250ms linear;
}