@charset "UTF-8";
#container{
   margin: auto;
   width: 1280px;
   height: 100%;
}

#a{
width: 100%;
/* background-color: red; */
}

#c{
width: 100%;
/* background-color: green; */
}

#b{
border: 1px dashed red;
/* height: 755px; */
width: 100%; 
display: -webkit-flex;
     display:         flex;
     -webkit-align-items: center;
             align-items: center;
     -webkit-justify-content: center;
             justify-content: center;
flex-direction: column;
}
 
 #bodyMain{
    position: relative;
    width: 70%;
    height: 95%;
    display: -webkit-flex;
     display:         flex;
     -webkit-align-items: center;
             align-items: center;
     -webkit-justify-content: center;
             justify-content: center;
     flex-direction: column;
 }
 
 #form{
 	 display: -webkit-flex;
     display:         flex;
     -webkit-align-items: center;
             align-items: center;
     -webkit-justify-content: center;
             justify-content: center;
     flex-direction: column;
 	margin: auto;
 	width: 99.5%;
 }
 
 th{
    font-weight:bold;
    font-size: 13pt;
 }
 
 td{
 	background-color: tomato;
 	height: 25px;
    text-align: center;
      border: 1px solid white;
      text-decoration: none;
 }
 
 .Mtd{
 	color: black;
 	height: 99%;
 	width: 99%;
 }
 
 textarea{
 	color: black;
 	width: 99%;
 }
 
 table{
    background-color: tomato;
    width:98%;
 }
 
 #paging{
    text-align: center;
    width: 98%;
    background-color: tomato;
    border: 1px solid white;
 }
 
 #boardName{
    display: -webkit-flex;
     display:         flex;
     -webkit-align-items: center;
             align-items: center;
     -webkit-justify-content: center;
             justify-content: center;
    text-align: center;
    height: 150%;
    width: 98%;
    background-color: tomato;
    border: 1px solid white;
 }
 
 a:link{
 	color: white;
 	text-decoration: none;
 }
 
 a:hover {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}
.btn00{
	position: relative;
	padding: 5px;
}

.btn001{
	color: black;
	position: absolute;
	height: 30px;
	left: 260px;
	top: 17px;
}
.btn002{
	color: black;
	position: absolute;
	height: 30px;
	left: 321px;
	top: 17px;
}
.btn003{
	color: black;
	position: absolute;
	height: 30px;
	left: 381px;
	top: 17px;	
}


#Cbtn1{
	color: black;
	width: 99%;
	height: 99%
}

#Cbtn2{
	color: black;
	text-align: center;
	align-content: center;
	margin-top: 5px;
	height: 30px;
}

#cmtd{
	border: 1px solid tomato;
	background-color : tomato;
	color: white;
	text-align: center;
	height: 100%;
	width: 100%;
	font-size: 13pt;
}

/* #form2{
	margin-left: 18.5px;
	width: 100%;
} */

.dv0{
	width: 97.5%;
	border: 1px solid white;
	background-color: tomato;
	display: -webkit-flex;
     display:         flex;
     -webkit-align-items: center;
             align-items: center;
     -webkit-justify-content: center;
             justify-content: center;
     flex-direction: column;
}

.mdv{
	width: 100%;
	display: -webkit-flex;
     display:         flex;
     -webkit-align-items: center;
             align-items: center;
     -webkit-justify-content: center;
             justify-content: center;
}

.dv1{
	height: 30px;
	margin-left: 88%;
}

.cont{
	padding: 2px;
	margin: 2px;
	width: 100%;
	border: 1px solid white;
	background-color: tomato;
}

#cml{
	color: white;
	text-align: center;
	width: 97.5%;
	border: 1px solid white;
	background-color: tomato;
	padding: 5px;
}

#paging{
	background-color: tomato;
}
.th{
	color: white;
	text-align: center;
	padding: 2px;
	margin: 2px;
	border: 1px solid white;
	background-color: tomato;
}
.th2{
	color: white;
	text-align: center;
	padding: 2px;
	margin: 2px;
	width: 15%;
	border: 1px solid white;
	background-color: tomato;
}
.td{
	padding: 2px;
	margin: 2px;
	width: 45%;
	border: 1px solid gray;
	background-color: white;
	color: gray;
}