@charset "UTF-8";
#container{
   margin: auto;
   width: 1280px;
   height: 100%;
   /* background-color: orange; */
}

#a{
width: 100%;
/* background-color: red; */
}

#c{
width: 100%;
/* background-color: green; */
}

#b{
color: white;
height: 100%;
width: 100%; 
display: -webkit-flex;
     display:         flex;
     -webkit-align-items: center;
             align-items: center;
     -webkit-justify-content: center;
             justify-content: center;
}
 
 #bodyMain{
    position: relative;
    width: 70%;
    height: 95%;
    display: -webkit-flex;
     display:         flex;
     -webkit-align-items: center;
             align-items: center;
     -webkit-justify-content: center;
             justify-content: center;
     flex-direction: column;
 }
 
 #form{
 	 display: -webkit-flex;
     display:         flex;
     -webkit-align-items: center;
             align-items: center;
     -webkit-justify-content: center;
             justify-content: center;
     flex-direction: column;
 	margin: auto;
 	width: 99.5%;
 }
 
 #content{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
 }
 
 
 td{
 	height: 25px;
    text-align: center;
      border: 1px solid white;
      text-decoration: none;
      background-color: tomato;
 }
 
 th{
    font-weight:bold;
    font-size: 13pt;
 }
 
 textarea{
 	width: 99%;
 }
 
 table{
 box-shadow: 2px 2px 0 #d6251f, 2px 2px 2px #e02a24;
  letter-spacing: 1px;
  transition: all 150ms linear;
    background-color: tomato;
    width:98%;
 }
 
 #paging{
    text-align: center;
    width: 98%;
    background-color: tomato;
    border: 1px solid white;
 }
 
 #boardName{
    display: -webkit-flex;
     display:         flex;
     -webkit-align-items: center;
             align-items: center;
     -webkit-justify-content: center;
             justify-content: center;
    text-align: center;
    height: 30px;
    width: 98%;
    background-color: tomato;
    border: 1px solid white;
 }
 
 a:link{
 	font-size: 12pt;
 	color: black;
 	text-decoration: none;
 }
 
 a:hover {
 	font-size: 12pt;
	color: black;
	text-decoration: none;
}

a:visited {
	font-size: 12pt;
	color: black;
	text-decoration: none;
}
.btn00{
	position: relative;
	height: 30px;
	color: black;
}

#btn01{
	top: 5px;
	position: relative;
	height: 30px;
}
#btn02{
	position: absolute;
	height: 30px;
	left: 350px;
	top: 5px;
}
#btn03{
	position: absolute;
	height: 30px;
	left: 410px;
	top: 5px;	
}

.btn-3 {
	padding-bottom: 20px;
	color: #fff;
  cursor: pointer;
	margin: 4px;
	height: 25px;
  background: tomato;
  border: 1px solid #da251f;
  box-shadow: 2px 2px 0 #d6251f, 2px 2px 2px #e02a24;
  letter-spacing: 1px;
  transition: all 150ms linear;
}

.btn-3:hover {
  background: tomato;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
  text-decoration: none;
  color: #ec817d;
  text-shadow: 1px 1px 0 #c2211c;
  transition: all 250ms linear;
}
 .td{
 	color: black;
 	height: 99%;
 	width: 99%;
 }
  .fileDiv{
 	color: black;
 }
 #fileDiv1{
 padding-top: 10px;
 display: -webkit-flex;
     display:         flex;
     -webkit-align-items: center;
             align-items: center;
     -webkit-justify-content: center;
             justify-content: center;
     flex-direction: row;
 	width: 100%;
 }
 #fileDiv2{
 	width: 50%;
 }
 .fileDiv{
 	color: black;
	 font-size: 10pt;
 }
 .thDiv{
	text-shadow: 1px 1px 0 black;
}