@charset "UTF-8";
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#header{
	position: relative;
	margin:auto;
	width: 100%;
	height: 150px;
	color: white;
}
#container{
   margin: auto;
   width: 1280px;
   height: 100%;
}

#up{
display: -webkit-flex;
	display:         flex;
	  -webkit-align-items: center;
	          align-items: center;
	  -webkit-justify-content: center;
	          justify-content: center;
	height: 65%;
	background-color: red;
}

#down{
	height: 35%;
}

.menu{
	width: 10%;
	height: 100%;
	display: -webkit-flex;
	display:         flex;
	  -webkit-align-items: center;
	          align-items: center;
	  -webkit-justify-content: center;
	          justify-content: center;
	position: relative;
}

.up2{
	display: -webkit-flex;
	display:         flex;
	  -webkit-align-items: center;
	          align-items: center;
	  -webkit-justify-content: center;
	          justify-content: center;
	height: 100%;
	background-color: tomato;
	color: white;
	/* border: 1px solid green; */
}

#up21{
	background-color: green;
	color: red;
	width: 10%;
}
#up22{
	width: 60%;
	font-size: 20pt;
	color: black;
}
#up23{
	width: 20%;
}
#up24{
	color: green;
	width: 10%;
}

#header strong{
	font-size: 20pt;
	color: white;
}

#hgl{
	margin-left: 37%;
}

#admin{
	display: flex;
	flex-direction: column;
}

@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);

body{
    font-family: 'Lato', sans-serif;
    /* background: #353535; /* 헤더 백그라운드 색깔 */
    /* color: #FFF; */
}

/* Thar Buttons */
a.animated-button.thar-three {
    color: #FFF;
    cursor: pointer;
    display: block;
    position: relative;
    border: 2px solid #F7CA18;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}
a.animated-button.thar-three.sp {
    color: #FFF;
    cursor: pointer;
    display: block;
    position: relative;
    border: 2px solid #F7CA18;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
	background-color: #444444;
}
a.animated-button.thar-three:hover {
    color: #000 !important;
    background-color: transparent;
    text-shadow: nthree;
}
a.animated-button.thar-three:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}
a.animated-button.thar-three:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: #F7CA18;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}

#btn{
	width: 95%;
}

#btn1{
	font-weight:bold;
	text-align: center;
	text-decoration: none;
	height: 24px;
	width: 100%;
}
#btn3{
	margin: 5px;
	font-weight:bold;
	text-align: center;
	text-decoration: none;
	height: 24px;
	width: 122px;
}

#header2{
	z-index: -1;
	height: 150px;
	width: 100%;
	position: absolute;
}

#img{
	height: 100%;
	width: 100%;
	opacity: 0.6;
	z-index: -10;
}

 #up a:link{
 	color: white;
 	text-decoration: none;
 }
 
 #up a:hover {
	color: white;
	text-decoration: none;
 }
 
 #up a:visited {
	color: white;
	text-decoration: none;
}
.hoverAll{
	top: 50px;
	position: absolute;
	display: -webkit-flex;
	display:         flex;
	  -webkit-align-items: center;
	          align-items: center;
	  -webkit-justify-content: center;
	          justify-content: center;
	flex-direction: column;
	z-index: 10;
}

#menu1{
	
}