@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
.map_wrap{
	background: rgb(255,255,255,0.4);
	padding:30px;
	border: 15px solid rgb(255,255,255,0.4);
	border-radius: 10px;	
}
#map{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
	padding: 20px;
}

#container h1{
	font-family: 'Hanna', serif;
    font-size: 30pt;
    margin-top: 3%;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: rgb(255,255,255,0.4);
    border-radius: 10px;
}
}