@charset "UTF-8";
h2{
	text-align: center;
}
#container{
	position: relative;
	margin: auto;
	width: 1280px;
	height: 100%;
}
#allInfo{
	margin: auto;
	width: 1000px;
	height: 580px;
}
.userInfo{
	text-align: center;
	border: 1px solid #c0c0c0;
	border-radius: 10px;
	position: absolute;
	margin:auto;
	margin-top: 2%;
	margin-left: 5%;
	min-width: 500px;
	min-height: 500px;
	color: black;
}
.famInfo{
	text-align: center;
	border: 1px solid #c0c0c0;
	border-radius: 10px;
	position: absolute;
	margin: auto;
	margin-top: 2%;
	margin-left: 50%;
	min-width: 350px;
	min-height: 500px;
	color: black;
}
#fam{
	margin-left: 10%;
}
.famMember{
     text-align: center;
     font-size: 14pt;
	 border:0px;
	 width: 80px;
	 
}
.famMember:hover{
	cursor: pointer;
}
.info{
	font-size: 15pt;
	height: 40px;
	width: 300px;
	margin-left: 10px;
	
	background: #f2f2f2;
	border-color: #f2f2f2;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	line-height: 30px;
	list-style: none;
	padding: 5px 10px;
	margin-bottom: 2px;
	
}
.smsChk{
	margin-top: -10px;
	margin-left: 50px;
	margin-bottom: 0px;
	font-size: 12pt;
	vertical-align: -10px;
}
.threeButton{
	position:absolute;
	margin: auto;
	margin-left: 15%;
	margin-top: -45px;
	width: 950px;
}
.famDelete-img{
	border: 0px;
	background-color: white;
	width:10px;
	height: 10px;
	
}
