@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

.smsChk{
	width: 20px;
	height: 20px;
}
.smsDiv{
	color:white;
	font-size:11pt; 
	text-align: center;
}

.memberIcon{
	width: 8%;
}
.userInfo{
	margin: auto;
	margin-top: 5%;
	text-align:center;
	width: 550px;
	height: 550px;
	border-radius: 15px;
	background-color: rgb(0,0,0, 0.4);
}
.userInfo h2{
	text-align: center;
	padding:25px;
	border-bottom: 3px solid gray;
	margin-bottom: 5%;
	font-family: 'Hanna', serif;
	font-size: 26pt;
	text-shadow: 1px 1px 4px #ffffff;
	-moz-text-shadow: 1px 1px 4px #ffffff;
	-webkit-text-shadow: 1px 1px 4px #ffffff;
	color:black;
}
.userInfo table{
	 margin:auto;
}
.userInfo input{
	font-size: 16pt;
	text-align: center;
	border:0;
	background: transparent;
	color:white;
}
.updateInfo{
	height:40px;
	background-color: rgb(255,255,255,0.4);
}
.info{
	width: 285px;
	margin-top:10px; 
	height:37px; 
	font-size: 16pt;
	background-color: rgb(255,255,255,0.4);
}
#updateButton{
	margin-top: 3%;
	padding: 20px;
}

.select-wrapper select {
  width: 150px;
  height: 37px;
  padding: 0 20px 0 7px;
  background: transparent;
  margin-left: 1px;
  color:white;
  background: transparent;
  font-size: 15pt;
  border:0;
}
.select-wrapper select option{
  background: rgb(0,0,0,0.4);
}


button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	color: black;
	background-color: white;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
button:hover {
	text-decoration: none;
}
button:active {
	position: relative;
	top: 2px;
}
