@charset "UTF-8";
a{
	margin-left: 5px;
}
select{
	margin-top: 10px;
	margin-left: 10%;
}
input {
   height: 30px;
   font-size: 10pt;
}
label{
	margin-left: 10%;
}
header{
	text-align:center;
}
.registForm{
	margin:auto;
	width:35%;
}
.info{
	margin-top: 10px;
	margin-left: 10%;
	width: 220px;
}
.addrDetail{
	width: 350px;
	margin-top: 10px;
	margin-left: 10%;
}
.infocheck{
	width:120px;
}
.signUpText{
	padding-bottom: 20px;
}
.checkbox{
	margin-left:10%;
	width: 5%;
}
.sns{
	font-size: 11pt;
	vertical-align: 11px;
}
.ajChk{
	display: none;
