@charset "UTF-8";

.ajChk{
	margin-left:10px;
	display: none;
}
#main-form_sns{
	font-size:11pt;
	color:#cccccc;
	background-color: white;
	margin-left: 10px;
}
#main-form_checkbox{
	background-color:white;
}
/*-------------------------------------------------------------*/
* {
  box-sizing: border-box;
  font-family: Futura;
  outline: none;
}

#container {
  font-family: Futura;
  background: #CDE8D5;
  
}

.main-form:after {
  content: "";
  display: table;
  clear: both;
}

.main-form {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  background: white;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}
.main-form__title {
  padding: 20px 0;
  text-align: center;
}
.main-form__title h1 {
  position: relative;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 25px;
}
.main-form__title h1:after {
  position: absolute;
  bottom: -13px;
  left: 0;
  right: 0;
  margin: auto;
  width: 90px;
  height: 4px;
  background: #f2f2f2;
  content: "";
}
.main-form__input {
  display: block;
  width: 100%;
  border: 0;
  background: #fcfcfc;
  border-radius: 6px;
  padding: 15px;
  margin-top:20px;
  outline: 0;
  font-size: 1.4rem;
  color: #666666;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.main-form__input:focus {
  background: #f7f7f7;
}
.main-form__body .btn {
  display: block;
  width: 48%;
  margin-top: 10px;
  float: left;
  background: #e6e6e6;
  padding: 15px;
  border: 0;
  font-size: .6rem;
  color: #999999;
  cursor: pointer;
  letter-spacing: 3px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.main-form__body .btn:last-of-type {
  float: right;
  background: #FCA44B;
  color: #fff;
}
.main-form__body .btn:last-of-type:hover {
  background: #fb8b19;
}

::-webkit-input-placeholder {
  color: #cccccc;
  letter-spacing: 2px;
  text-transform: uppercase;
}

:-moz-placeholder {
  color: #cccccc;
  letter-spacing: 2px;
  text-transform: uppercase;
}

::-moz-placeholder {
  color: #cccccc;
  letter-spacing: 2px;
  text-transform: uppercase;
}

:-ms-input-placeholder {
  color: #cccccc;
  letter-spacing: 2px;
  text-transform: uppercase;
}
