#search_button{
  background: transparent;
  padding: 12px 20px;
  border-radius: 5px;
  border: 2px solid #b9c9fe;
  color: #b9c9fe;
  transition: all 0.4s ease;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 10px;
  margin-left: -25px;
}

#search_button:hover{
  background: #b9c9fe;
  color: #ffffff;
}