@charset "UTF-8";

input {
   height: 30px;
   font-size: 10pt;
}
.registForm{
	margin:auto;
	width:30%;
}
#idchk{
	margin-left: 10px;
	margin-top: 3px;
}
.info{
	width: 200px;
}
.addrDetail{
	width: 350px;
	margin-top: 10px;
}
.infocheck{
	width:120px;
}
.signUpText{
	padding-bottom: 20px;
}
.checkbox{
	margin-left:2%;
	width: 3%;
}
.sns{
	font-size: 10pt;
	vertical-align: 10px;
}